<!-- CSS only -->
<head>
    <style>
        table {
            width: 40%;
            border: none;
            border-top: none;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            table-layout: fixed;
        }
        td,
        th {
            border: none;
            text-align: center;
            padding: 8px;
            color: #363D41;
            font-size: 14px;
        },
        tr {
            background-color: #fff;
            border: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: flex-start;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }
        h2.headertext, h1.headertext {
            text-align: center;
        }
    </style>
</head>
<body>
    {% block content %}
        <table class='center'>
            <tr>
                <th style="width:40%"><h2>Competencies:<h2></th>
            </tr>
                {% if competencies %}
                    <h1 class="headertext">
                       Band name: {{ competencies.bandName }}
                    </h1>
                    <tr>
                     {% for name in competencies.competencyName %}
                        <td>
                             <h3>- {{ name }}<h3>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                Competencies not found
            {% endif %}
        </table>
    {% endblock %}
</body>
