<!-- CSS only -->
<head>
  <style>
    table {
      width: 40%;
      border: none;
      border-top: 1px solid #EEEEEE;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      table-layout: fixed;
    }
    td,
    th {
      border: 1px solid #EEEEEE;
      text-align: left;
      padding: 8px;
      color: #363D41;
      font-size: 14px;
    },
    tr {
      background-color: #fff;
      border: 1px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: flex-start;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
    }
    input[type="submit"] {
        background: #288629;
        height: 35px;
        line-height: 35px;
        width: fit-content;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        font-size: 1.1em;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    input[type="button"] {
        background: #CC0000;
        height: 35px;
        line-height: 35px;
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        font-size: 1.1em;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    input[type="button"]:hover,
    input[type="submit"]:hover {
        background: #e1a70a;
    }
    input[type="button"]:focus,
    input[type="submit"]:focus {
        background: #e1a70a;
    }
  </style>
</head>
<body>
  {% block content %}
    <h2>
      Job roles 
    </h2>
    <table class='center'>
      <tr>
        <th style="width:60%">Job title</th>
        <th style="width:60%">Capability</th>
        <th style="width:60%">Band</th>
      </tr>
      {% if jobRoles and jobRoles.length > 0 %}
        {% for job in jobRoles %}
          <tr>
            <td>
              <a id= "{{ job.roleID }}" href="/job-specification/{{ job.roleID }}">{{ job.role_title }}</a>
            </td>
            <td> {{ job.capability_name }} </td>
            <td> <a id= "{{ job.bandId }}" href="/competencies/{{ job.bandId }}">{{ job.bandName }}</a></td>
            <td>  <a "{{ job.roleID }}" href="/edit-job-role/{{ job.roleID }}" aria-label="submit">
              <input class="button" type="submit" value="Edit Job Details"/>
              </a> </td>

          </tr>
        {% endfor %}
      {% else %}
        {{ errormessage }}
      {% endif %}
    </table>
  {% endblock %}
</body>