<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="icon"
            type="image/x-icon"
            href="/img/afav.png"/>
        <style>
            @font-face {
                font-family: 'gothic';
                src: url('/font/GOTHIC/GOTHIC.TTF') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'gothic';
                src: url('/font/GOTHIC/GOTHICB.TTF') format('truetype');
                font-weight: bold;
                font-style: normal;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            li {
                float: right;
                font-size: 20px;
                font-family: 'gothic';
            }
            li.logo {
                float: left;
                text-indent: 5px;
                padding: 4px;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            a.nopadding {
                padding: 0;
            }
            .active {
                background-color: #04AA6D;
            }
        </style>
    </head>
    <body
        style="margin: 0">
        <!-- Brand/logo -->
        <ul>
            <li class="logo">
                <a class="nopadding" href="/">
                    <img src="/img/kainoslogo.png" alt="logo" style="width:130px;">
                </a>
            </li>
            <li>
                <a href="/create-job-role">Create role</a>
            </li>
            <li>
                <a href="/jobRoles">View roles</a>
            </li>
        </ul>
    </body>
</html>